#!/bin/sh

# My personal shell aliases. Read on login.

# Aliases for my bootstrapping files and dotfiles.
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles --work-tree=$HOME'
alias btstrp='/usr/bin/git --git-dir=$HOME/.linux-bootstrap --work-tree=$HOME/.linux-bootstrap'

# Aliases for my file navigation commands.
alias ll="ls -al"
alias ls="ls --color=auto"

# Have vim read my vimrc file from the ~/.config folder.
alias vim="vim -u $HOME/.config/vim/vimrc"
